<!-- styleClass="col-xs-12 col-sm-7 col-md-5 preferencesDialog"  -->
<p-dialog header="" [(visible)]="display" [modal]="true" (onHide)="cancel()" [blockScroll]="true" [draggable]="true"
    [closeOnEscape]="false" [closable]="false" [resizable]="false"
    styleClass="preferencesDialog" baseZIndex="1050" 
    [contentStyle]="{'max-height':'300px', 'max-width':'450px', 'min-width':'250px'}">
    <p-header>{{langMng.translateText('app_PREF_TITLE', '')}}</p-header>

        <div style="width:100%;overflow:overlay;padding:0px;">
            <p-table [value]="gridColumns" selectionMode="single" [(selection)]="selectedRow" [scrollable]="true"
                scrollHeight="200px" class="preferencesTable" dataKey="field">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width: 30px;">
                        <col>
                        <col style="width: 30px;">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th style="text-align:center;">
                            {{langMng.translateText('app_PREF_COLHEADER', '')}}
                        </th>
                        <th style="text-align:center;">
                            {{langMng.translateText('app_PREF_COLVISIBLE', '')}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr class="p-selectable-row">
                        <td style="width: 30px;">
                            <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
                        </td>
                        <td>
                            <input type="text" name="header" class="form-control" [(ngModel)]="rowData.header"
                                [disabled]="rowData.hidden">
                        </td>
                        <td style="width: 30px;text-align:center;">
                            <input type="checkbox" name="visible" class="form-control" [(ngModel)]="rowData.visible">
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div style="width:100%;padding-top:5px;display:flex;">
            <div style="width: 50%;float: left;">
                <button type="button" class="btn btn-sm btn-outline-secondary pi pi-arrow-up" (click)="onUp()">
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary pi pi-arrow-down" (click)="onDown()">
                </button>
            </div>
            <div style="width: 50%;text-align: right;float: right;">
                <button type="button" class="btn btn-sm btn-outline-secondary pi pi-times" (click)="onReset()">
                </button>
            </div>
        </div>
    <p-footer>
        <div class="col-xs-12 col-sm-12 col-md-12 siuButtons" style="text-align:center">
            <button type="button" class="btn btn-primary btnOk"
                (click)="save()">{{langMng.translateText('app_SIU_BTNOK', '')}}</button>
            <button type="button" class="btn btn-danger btnCancel"
                (click)="cancel()">{{langMng.translateText('app_SIU_BTNCANCEL', '')}}</button>
        </div>
    </p-footer>
</p-dialog>
