<div class="col-xs-12 col-sm-12 col-md-12 detailInRowGrid">

    <ng-container *ngIf="details.length > 1; else elseOneDetail">
        <ul class="nav nav-tabs" role="tablist">
            <ng-container *ngFor="let detail of details; index as i">
                <li class="nav-item" *ngIf="detail.visible">
                    <a (click)="setActiveDetail(detail.order)" class="nav-link"
                            [ngClass]="{'active': activeDetail == detail.order}" role="tab" tabindex
                            data-toggle="tab">{{detail.title}}</a>
            </ng-container>
        </ul>
        <div class="tab-content detailsContent">
            <ng-container *ngFor="let detail of details; index as i">
                <div class="tab-pane" [ngClass]=" {'active': activeDetail == detail.order}" *ngIf="detail.visible" role="tabpanel">
                    <imes-mdiu *ngIf="detail.scenarioType == 'MDIU'" [mdiu]="detail"></imes-mdiu>
                    <imes-iiu *ngIf="detail.scenarioType == 'IIU'" [iiu]="detail"></imes-iiu>
                    <imes-piu *ngIf="detail.scenarioType == 'PIU'" [piu]="detail"></imes-piu>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <ng-template #elseOneDetail>
        <ng-container *ngFor="let detail of details; index as i">
            <div class="inRowDetailTitle">{{detail.title}}</div>
            
            <imes-mdiu *ngIf="detail.scenarioType == 'MDIU'" [mdiu]="detail"></imes-mdiu>
            <imes-iiu *ngIf="detail.scenarioType == 'IIU'" [iiu]="detail"></imes-iiu>
            <imes-piu *ngIf="detail.scenarioType == 'PIU'" [piu]="detail"></imes-piu>
        </ng-container>
</ng-template>
</div>
