<form novalidate>
    <ng-container *ngIf="visible">
        <h3 class="title">{{title}}</h3>

        <div class="master">
            <h3 class="title">{{master.title}}</h3>
            <div class="iiuRegion">
                <imes-actionsnavigations [queryIU]="master"></imes-actionsnavigations>
                <!-- Display Set elements -->
                <div class="card displaySet">
                    <div class="card-header">{{master.title}}</div>
                    <div class="card-body">
                        <imes-input-string [field]="master.dseCodigo" *ngIf="master.dseCodigo.visible"></imes-input-string>
                        <imes-input-string [field]="master.dseClienteNombreRazonSocial" *ngIf="master.dseClienteNombreRazonSocial.visible"></imes-input-string>
                        <imes-input-date [field]="master.dseFecha" *ngIf="master.dseFecha.visible"></imes-input-date>
                        <imes-input-definedselection [field]="master.dseContratoUnico" *ngIf="master.dseContratoUnico.visible"></imes-input-definedselection>
                        <imes-input-definedselection [field]="master.dseGeneraOrden" *ngIf="master.dseGeneraOrden.visible"></imes-input-definedselection>
                        <imes-input-definedselection [field]="master.dseImprimirPorGrups" *ngIf="master.dseImprimirPorGrups.visible"></imes-input-definedselection>
                        <imes-input-definedselection [field]="master.dseAceptado" *ngIf="master.dseAceptado.visible"></imes-input-definedselection>
                        <imes-input-date [field]="master.dseFechaAceptacion" *ngIf="master.dseFechaAceptacion.visible"></imes-input-date>
                        <imes-input-date [field]="master.dseFechaPrevista" *ngIf="master.dseFechaPrevista.visible"></imes-input-date>
                        <imes-input-date [field]="master.dseFechaValidez" *ngIf="master.dseFechaValidez.visible"></imes-input-date>
                        <imes-input-definedselection [field]="master.dseRechazado" *ngIf="master.dseRechazado.visible"></imes-input-definedselection>
                        <imes-input-date [field]="master.dseFechaRechazo" *ngIf="master.dseFechaRechazo.visible"></imes-input-date>
                        <imes-input-string [field]="master.dseMotivoRechazo" *ngIf="master.dseMotivoRechazo.visible"></imes-input-string>
                        <imes-input-definedselection [field]="master.dseAnulado" *ngIf="master.dseAnulado.visible"></imes-input-definedselection>
                        <imes-input-date [field]="master.dseFechaAnulacion" *ngIf="master.dseFechaAnulacion.visible"></imes-input-date>
                        <imes-input-string [field]="master.dseMotivoAnulacion" *ngIf="master.dseMotivoAnulacion.visible"></imes-input-string>
                        <imes-input-numeric [field]="master.dseBaseImponible" *ngIf="master.dseBaseImponible.visible"></imes-input-numeric>
                        <imes-input-numeric [field]="master.dseIVATotal" *ngIf="master.dseIVATotal.visible"></imes-input-numeric>
                        <imes-input-numeric [field]="master.dseRecargoEquivalencia" *ngIf="master.dseRecargoEquivalencia.visible"></imes-input-numeric>
                        <imes-input-numeric [field]="master.dsePorcentajeDescuento" *ngIf="master.dsePorcentajeDescuento.visible"></imes-input-numeric>
                        <imes-input-numeric [field]="master.dseDescuento" *ngIf="master.dseDescuento.visible"></imes-input-numeric>
                        <imes-input-numeric [field]="master.dseImporte" *ngIf="master.dseImporte.visible"></imes-input-numeric>
                        <imes-input-string [field]="master.dseMotivoDescuento" *ngIf="master.dseMotivoDescuento.visible"></imes-input-string>
                        <imes-input-string [field]="master.dseAlmacenNombre" *ngIf="master.dseAlmacenNombre.visible"></imes-input-string>
                        <imes-input-numeric [field]="master.dsePorcentajeRetencion" *ngIf="master.dsePorcentajeRetencion.visible"></imes-input-numeric>
                        <imes-input-string [field]="master.dseTiposSistema" *ngIf="master.dseTiposSistema.visible"></imes-input-string>
                        <imes-input-definedselection [field]="master.dseValidado" *ngIf="master.dseValidado.visible"></imes-input-definedselection>
                        <imes-input-string [field]="master.dseUsuarioCreacionNombreCompleto" *ngIf="master.dseUsuarioCreacionNombreCompleto.visible"></imes-input-string>
                    </div>
                </div>
                <div *ngIf="master.showInstanceLog" class="iiuLogNavigation">
                    <a (click)="master.onNavigateLoginstance()">{{master.langMng.translateText('app_INSTANCELOG', 'Log Instance')}}</a>
                </div>
            </div>
        </div>
        <fieldset class="col-xs-12 col-sm-12 col-md-12 details" [disabled]="!enableDetails" *ngIf="d0Visible">
            <legend *ngIf="false">Details legend</legend>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" *ngIf="d0Visible">
                    <a (click)="setActiveDetail(0)" class="nav-link"
                            [ngClass]="{'active': activeDetail == 0}" role="tab" tabindex
                            data-toggle="tab">{{d0.title}}</a>
                </li>
            </ul>
            <div class="tab-content detailsContent">
                <div class="tab-pane" [ngClass]=" {'active': activeDetail == 0}" *ngIf="d0Visible" role="tabpanel">
                        <h3 class="title">{{d0.title}}</h3>

                        <div class="master">
                            <h3 class="title">{{d0.master.title}}</h3>
                            <div class="piuRegion">
                                <imes-actionsnavigations [queryIU]="d0.master"></imes-actionsnavigations>
                                <imes-grid [piu]="d0.master"></imes-grid>
                            </div>
                        </div>
                </div>
            </div>
        </fieldset>
        <div class="col-xs-12 col-sm-12 col-md-12 mdiuButtons">
            <button type="button" class="btnCancel btn btn-danger" (click)="processCancel()">{{langMng.translateText('app_CLOSE', '')}}</button>
        </div>
    </ng-container>
</form>