<div class="form-group" *ngIf="field.visible" [ngClass]="field.editorCSSClasses">
    <label class="control-label aliasField" [title]="field.alias">{{field.alias}}</label>
    <select class="select-option form-control" [(ngModel)]="field.value" (ngModelChange)="onFieldChange()"
        [disabled]="!field.enabled" [required]="field.mandatory"
        autocomplete="off">
        <option class="option" *ngFor="let option of field.options" [ngValue]="option.key">{{option.value}}</option>
    </select>
    <div *ngIf="field.validationMessage != ''" class="validationMessage">
        {{field.validationMessage}}
    </div>
</div>