<form novalidate>
    <ng-container *ngIf="visible">
        <h2 class="title">{{title}}</h2>
        <div class="siuRegion">
            <imes-lensesearch [field]="puthisSistema" *ngIf="puthisSistema.visible"
                (selected)="processputhissistemaSelected($event)" (cleared)="cleanputhissistema()"
                (keypressLenseSearch)="onKeypressLenseSearch('onputhissistemaChange')"
                (searched)="doSearchAction('puthisSistema')"></imes-lensesearch>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 siuButtons">
            <button type="button" class="btnOk btn btn-primary" (click)="saveChanges()">{{langMng.translateText('app_SIU_BTNOK', '')}}</button>
            <button type="button" class="btnCancel btn btn-danger" (click)="processCancel()">{{langMng.translateText('app_SIU_BTNCANCEL', '')}}</button>
        </div>
    </ng-container>
</form>