<form novalidate>
    <ng-container *ngIf="visible">
        <h2 class="title">{{title}}</h2>
        <div class="siuRegion">
            <imes-lensesearch [field]="puthisCliente" *ngIf="puthisCliente.visible"
                (selected)="processputhisclienteSelected($event)" (cleared)="cleanputhiscliente()"
                (keypressLenseSearch)="onKeypressLenseSearch('onputhisclienteChange')"
                (searched)="doSearchAction('puthisCliente')"></imes-lensesearch>
            <imes-input-string [field]="pNombreComercial" *ngIf="pNombreComercial.visible"></imes-input-string>
            <imes-input-string [field]="pCIFNIF" *ngIf="pCIFNIF.visible"></imes-input-string>
            <imes-input-string [field]="pPaginaWeb" *ngIf="pPaginaWeb.visible"></imes-input-string>
            <imes-input-string [field]="pEmail" *ngIf="pEmail.visible"></imes-input-string>
            <imes-input-string [field]="pTelefono" *ngIf="pTelefono.visible"></imes-input-string>
            <imes-input-string [field]="pExtension" *ngIf="pExtension.visible"></imes-input-string>
            <imes-input-string [field]="pFax" *ngIf="pFax.visible"></imes-input-string>
            <imes-lensesearch [field]="pSector" *ngIf="pSector.visible"
                (selected)="processpsectorSelected($event)" (cleared)="cleanpsector()"
                (keypressLenseSearch)="onKeypressLenseSearch('onpsectorChange')"
                (searched)="doSearchAction('pSector')"></imes-lensesearch>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 siuButtons">
            <button type="button" class="btnOk btn btn-primary" (click)="saveChanges()">{{langMng.translateText('app_SIU_BTNOK', '')}}</button>
            <button type="button" class="btnCancel btn btn-danger" (click)="processCancel()">{{langMng.translateText('app_SIU_BTNCANCEL', '')}}</button>
        </div>
    </ng-container>
</form>